.nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.timeout-modal {
  background-color: #c3242a;
  color: #fff;
  width: 180px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.modal-open-button {
  height: 30px;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  width: 35px;
  z-index: 20;
  background-color: #c3242a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  background-color: rgb(24, 24, 100);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
