.nav-link {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.course-video {
  width: 350px;
  object-fit: cover;
  height: 500px;
}

.timeout-modal {
  background-color: #c3242a;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.modal-open-button {
  height: 30px;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  width: 35px;
  z-index: 20;
  background-color: #c3242a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  background-color: rgb(24, 24, 100);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 25px 0 !important;
}

.footer-location {
  height: 97vh;
  position: relative;
  z-index: 999;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
}

.contact-input {
  padding: 12px 15px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  font-weight: 500;
  margin: 5px 0;
  background-color: rgb(245, 251, 253);
  resize: none;
  border: 1.5px solid rgb(245, 251, 253);
}
.contact-input:focus {
  border: 2px solid #110d60;
}

.form label {
  font-size: 16px;
  line-height: 24px;
  color: #110d60;
  font-weight: 500;
  margin: 8px 0;
}

.contact-input::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #110d60;
}

.header-swiper {
  width: 100% !important;
}

.css-gv1iwz {
  top: 5px !important;
}

.custom-dropdown-toggle {
  /* border: 1px solid #fff !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-dropdown-menu {
  position: absolute;
  z-index: 9999;
  top: 2.5%;
  border-radius: 10px;
  margin-left: -3px;
  padding: 2px 5px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(144, 173, 248, 0.25);
  padding-bottom: 0;
}

.custom-dropdown-item {
  cursor: pointer;
  margin: 8px 0;
}

.home-fixed {
  position: fixed;
  z-index: 99999;
  background-color: #110d60;
  top: 80%;
  right: 5%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse-white 1s infinite;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
}

.modal-open-button {
  height: 30px;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  width: 35px;
  z-index: 20;
  background-color: #c3242a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  background-color: rgb(24, 24, 100);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instal-video{
  height: 400px !important;
  width: 100%;
  object-fit: cover;
}

.course-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(255, 121, 63, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

@media (max-width: 768px) {
  .footer-location {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .custom-dropdown-menu {
    top: 2%;
  }
  .nav-links {
    font-size: 12px !important;
  }
}
